@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
    width: 1440px;
    height: 1024px;
    margin: 0;
}

.btn-back{
    cursor: pointer;

    position: absolute;
    width: 109px;
    height: 47px;
    margin-left: 40px;
    margin-top: 35px;

    border: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    background-color: transparent;
}

.btn-choose {
    position: absolute;
    width: 347px;
    height: 56px;
    margin-left: 546px;
    margin-top: 175px;
    font-size: 18px;

    font-family: 'proxima-nova', sans-serif;

    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.img {
    position: absolute;
    width: 380px;
    height: 380px;
    left: 530px;
    top: 322px;
    background: #C4C4C4;
    border-radius: 50%;
}

.cursor-load {
    cursor: wait
}

.master-name {
    position: absolute;
    width: 647px;
    height: 103px;
    left: 396px;
    top: 720px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


/* Config light theme */
.light {
    background-color: #FBFE63;
}

.light > div > div > a > .btn-back {
    color: #2A2A2A;
}

.light > div > div > a > .btn-back > svg{
    color: #2A2A2A;
}

.light > div > div > .btn-choose {
    background: #2A2A2A;
    color: #FBFE63;
}

.light > div > div > .master-name {
    color: #2A2A2A;
}

/* Config dark theme */
.dark {
    background-color: #2A2A2A;
}

.dark > div > div > a > .btn-back {
    color: #FFF!important;
}

.dark > .btn-back > svg {
    color: #FFF;
}

.dark > div > div > .btn-choose {
    color: #2A2A2A;
    background: #FFF;
}

.dark > div > div > .master-name {
    color: #FFF;
}